 * {
     margin: 0;
     box-sizing: border-box;
 }

 .block {
     width: 300px;
     height: 70px;
     border: 1px solid black;
     padding: 5px;
     box-shadow: 10px 5px 10px red;
 }

 .block_1 {
    margin: 60px;
    box-shadow: 60px 16px green;
}

 .block_2 {
     margin: 60px;
     box-shadow: 5px 5px 2px 10px blue;
 }

 .block_3 {
    box-shadow: inset 5px 5px 5px  gold;
}

.t-shadow-1 {
    font-size: 2rem;
    text-shadow: 3px 3px 3px rgb(2, 248, 15);
}

.t-shadow {
    font-size: 2rem;
    text-shadow: 1px 1px 2px red, 0 0 1rem blue, 0 0 0.2rem green;
}

.circle {
    background-color: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: pulsing 2s infinite;
}

@keyframes pulsing {
    0% {
        transform: scale(0.5, 0.5);
    }
    50% {
        transform: scale(1, 1);
        background-color: red;
        border-radius: 0;
    }
    100% {
        transform: scale(0.5, 0.5);
    }
}

.circle-cloud {
    background-color: blueviolet;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: cloud 2s infinite;
}

@keyframes cloud {
    0% {
        transform: translatex(0px);
    }
    50% {
        transform: translateX(35vw);
    }
    100% {
        transform: translateX(0px);
    }
}